recursive-include shelf/resources/ *.shellcode
recursive-include shelf/resources/ *.symbols
recursive-include shelf/resources/ *.shellcode.structs.json
recursive-include shelf/resources/ *.hook
global-exclude *.pyc