recursive-include elf_to_shellcode/resources/ *.shellcode
recursive-include elf_to_shellcode/resources/ *.symbols
recursive-include elf_to_shellcode/resources/ *.shellcode.structs.json
global-exclude *.pyc